<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{%- assign main_article = article.handle -%}
{% for article in article.blogs %}
  {% if forloop.first == true %}
    {%- assign articleblog = article -%}
  {% endif %}
{% endfor %}
{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}
<div class="blog{% if section.settings.soft_background %} background-secondary{% endif %}{% if section.settings.heading == blank %} no-heading{% endif %}">
  <div class="container-new page-width-desktop">
    <div class="title-wrapper-with-link{% if section.settings.heading == blank %} title-wrapper-with-link--no-heading{% endif %} ">
      <h2 class="blog__title">{{ section.settings.heading | escape }}</h2>
      {%- if section.settings.content != blank -%}<h6 class="blog_desc">{{ section.settings.content}}</h6>{%- endif -%}
    </div>
   
    {%- if blog.articles.size > 0 -%}
      <slider-component class="slider-mobile-gutter">
        <ul id="Slider-{{ section.id }}"
          class="blog__posts articles-wrapper blogs_slider"
          role="list"
        >
          {%- for article in blog.articles limit: section.settings.post_limit -%}
          {%- unless main_article == article.handle -%}
            <li class="blog__post  article">
              {% render 'article-skin-card', blog: blog, article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author, show_viewall: section.settings.show_view_all %}
            </li>
          {%- endunless -%}  
          {%- endfor -%}
        </ul>
     
      </slider-component>

    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>
<script>
 $(document).ready(function(){ 
  $('.blogs_slider').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    prevArrow: "<button type='button' class='slick-prev pull-left'><img src='https://cdn.shopify.com/s/files/1/0306/6262/3364/files/left_arrow.png?v=1638268785'></button>",
  	nextArrow: "<button type='button' class='slick-next pull-right'><img src='https://cdn.shopify.com/s/files/1/0306/6262/3364/files/right_arrow.png?v=1638268785'></button>",
    arrow: true,
    responsive: [
    {
      breakpoint: 768,
      settings: {
        arrow: false,
        dots: true
      }
    }
  ]
  });
});  
</script>  

{% schema %}
{
  "name": "Blogs recommandations",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "text",
      "id": "content",
      "label": "content"  
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 6,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "soft_background",
      "default": false,
      "label": "t:sections.featured-blog.settings.soft_background.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    }
  ],
  "presets": [
    {
      "name": "blogs recommandations"
    }
  ]
}
{% endschema %}
