{{ 'hero_slider.css' | asset_url | stylesheet_tag }}

<div class="hero_slider page-width {% if section.settings.slidesToShow > 1 %}slide_{{section.settings.slidesToShow}}{% endif %}" id="heroslider--{{ section.id  }}">

  <div class="section-heading">
  {%- if section.settings.heading != blank -%}
  <h2 class="blog-video_heading center heading">{{ section.settings.heading | escape }}</h2>
   {%- endif -%}
    {%- if section.settings.text != blank -%}
    <div class="rich-text__text rte center heading-paragraph">{{ section.settings.text }}</div>
    {%- endif -%}
  </div>
    <div class="blog_slider">
      {% for block in section.blocks %}  
        {% case block.type %}

          {% when 'image_slide' %}  
              <div class="image_div blog-img-video-slider">
                <div>
                  <h2 class="title">{{ block.settings.image_heading }}</h2>
                </div>
                <div class="image_text_wrap blog-img-video-wrap">
                {% if block.settings.image != blank %}
                <div class="image_cover">
                  <img src="{{ block.settings.image | img_url : 'master' }}" 
                  loading="lazy"
                  alt="{{ block.settings.image.alt | escape }}"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}" class="desktop_slide">
                  <img src="{{ block.settings.mimage | img_url : 'master' }}" 
                  loading="lazy"
                  alt="{{ block.settings.mimage.alt | escape }}"
                  width="{{ block.settings.mimage.width }}"
                  height="{{ block.settings.mimage.width | divided_by: block.settings.mimage.aspect_ratio }}" class="mobile_slide">
                </div>
                {% else %}
                <div class="image_cover">
                  {{ 'lifestyle-2' | placeholder_svg_tag: 'my-custom-class' }}
                </div>
                {% endif %}
                {% if block.settings.image_content != blank %}<div class="video_content">{{ block.settings.image_content }}</div>{% endif %}
                </div>  
                {% if block.settings.button_link != blank %}<div class="banner__buttons"><a href="{{ block.settings.button_link }}" class="button button--primary">{{ block.settings.button_label }}</a></div>{% endif %}
                {% if block.settings.label_slide != blank %}<span class="image-label">{{ block.settings.label_slide }}</span>{% endif %}
              </div>

          {% when 'video_block' %}
              <div class="video_div blog-img-video-slider">
                <div>
                  <h2 class="title">{{ block.settings.heading }}</h2>
                </div>
                {% if block.settings.cover_image != blank %}
                
                <div class="video_text_wrapper blog-img-video-wrap">
                <div class="video_image_banner">
                  <img class="desktop_slide" src="{{ block.settings.cover_image | img_url : 'master' }}" alt="{{ block.settings.cover_image.alt | escape }}"  width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.width | divided_by: block.settings.cover_image.aspect_ratio }}">
                  <img class="mobile_slide" src="{{ block.settings.mcover_image | img_url : 'master' }}" alt="{{ block.settings.mcover_image.alt | escape }}"  width="{{ block.settings.mcover_image.width }}" height="{{ block.settings.mcover_image.width | divided_by: block.settings.mcover_image.aspect_ratio }}">
                  <span class="js-play-button{% if block.settings.video_section_video_url contains 'youtube' %} youtube_video{% elsif block.settings.video_section_video_url contains 'vimeo' %} vimeo_video{% endif %}">
                    {%- include 'custom-icon-play' -%}
                    {%- include 'video-push' -%}
                  </span>
                
                
                {% if block.settings.video_section_video_url != blank %}
                
                {% if block.settings.video_section_video_url contains 'youtube' or block.settings.video_section_video_url contains 'vimeo'  %}
                  {% if block.settings.video_section_video_url contains "youtube" %}
                    {% assign video_id = block.settings.video_section_video_url | split : '/watch?v=' | last %}
                    <iframe class="js-product-video" src="//www.youtube.com/embed/{{ video_id }}?rel=0&showinfo=0&controls=0&vq=720" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                  {% if block.settings.video_section_video_url contains "vimeo" %}
                    {% assign video_id = block.settings.video_section_video_url | split : 'vimeo.com/' | last %}
                    <iframe class="js-product-video" src="//player.vimeo.com/video/{{ video_id }}?byline=0&portrait=0&badge=0&muted=1" width="100%" height="100%" frameborder="0" allowfullscreen allow="autoplay"></iframe>
                  {% endif %}
                {% else %}
                  <video class="js-product-video"  loop muted>
                    <source type="video/mp4" src="{{block.settings.video_section_video_url}}">
                  </video>
                {% endif %}
              {% endif %}
              {% if block.settings.label_slide != blank %}<span class="image-label">{{ block.settings.label_slide }}</span>{% endif %}
            </div>
            {% if block.settings.video_content != blank %}<div class="video_content">{{ block.settings.video_content }}</div>{% endif %}
          </div>
            {% if block.settings.button_link != blank %}<div class="banner__buttons"><a href="{{ block.settings.button_link }}" class="button button--primary">{{ block.settings.button_label }}</a></div>{% endif %}
            {% endif %}   
          </div>

        {% endcase %} 
      {% endfor %}
      
    </div>
    <div class="appenddots"></div>

</div>

<script>
  $('.blog_slider').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: {{ section.settings.slidesToShow }},
    slidesToScroll: {{ section.settings.slidesToScroll }},
    arrows: {{ section.settings.arrow }},
    prevArrow: "<button type='button' class='slick-prev pull-left'><img src='https://cdn.shopify.com/s/files/1/0306/6262/3364/files/left_arrow.png?v=1638268785'></button>",
  	nextArrow: "<button type='button' class='slick-next pull-right'><img src='https://cdn.shopify.com/s/files/1/0306/6262/3364/files/right_arrow.png?v=1638268785'></button>",
    appendDots: '.blog_slider',
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false
        }
      }
    ]
  });

</script>

{% schema %}
{
  "name":"Blog Product Slider",
  "tag":"section",
  "class":"Hero_slider",
  "settings":[
  {
    "type": "text",
    "id": "heading",
    "default": "Talk about your brand",
    "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
  },
  {
    "type": "richtext",
    "id": "text",
    "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
    "label": "t:sections.rich-text.blocks.text.settings.text.label"
  },
  {
    "type": "checkbox",
    "id": "arrow",
    "label": "Show Arrows",
    "default": true
  },  
  {
    "type": "range",
    "id": "slidesToShow",
    "min": 1,
    "max": 5,
    "step": 1,
    "label": "Slide to Show",
    "default": 1
  },    
  {
    "type": "range",
    "id": "slidesToScroll",
    "min": 1,
    "max": 5,
    "step": 1,
    "label": "Slide to Scroll",
    "default": 1
  }  
  ],
  "blocks":[
    {
      "type":"image_slide",
      "name":"Image Slide",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Desktop Image"
        },
        {
          "type":"image_picker",
          "id":"mimage",
          "label":"Mobile image"
        },
        {
          "type":"text",
          "id":"image_heading",
          "default":"Image",
          "label":"Main Heading"
        },
        {
          "type": "richtext",
          "id": "image_content",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Image Content"
        }, 
        {
          "type":"text",
          "id":"button_label",
          "default":"Button label",
          "label":"t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type":"url",
          "id":"button_link",
          "label":"t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type":"text",
          "id":"label_slide",
          "default":"Oily Skin",
          "label":"Slide Label"
        }
      ]
    },
    {
      "type":"video_block",
      "name":"Video Slide",
      "settings":[
        {
          "type":"text",
          "id":"video_section_video_url",
          "default":"https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label":"Video URL"
        },
        {
          "type":"text",
          "id":"heading",
          "default":"Video",
          "label":"t:sections.video.settings.heading.label"
        },
        {
          "type":"image_picker",
          "id":"cover_image",
          "label":"Video Desktop Image Banner"
        },
        {
          "type":"image_picker",
          "id":"mcover_image",
          "label":"Mobile image"
        },
        {
          "type": "richtext",
          "id": "video_content",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Video Content"
        },  
        {
          "type":"text",
          "id":"button_label",
          "default":"Button label",
          "label":"t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type":"url",
          "id":"button_link",
          "label":"t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type":"text",
          "id":"label_slide",
          "default":"Oily Skin",
          "label":"Slide Label"
        }
        
      ]
    }
  ],
  "presets":[
    {
      "name":"Blog Product Video"
    }
  ]
}
{% endschema %}
