<div class="{% unless section.settings.full_width %}page-width{% endunless %}"></div>
<div id="Banner-{{ section.id }}" class="banner banner--{{ section.settings.image_height }} contact_banner_section{% if section.settings.full_width %} rich-text--full-width{% endif %}">
  {% if section.settings.image_link != blank %}
  <a class="image-bar__link" href="{{ section.settings.image_link }}"> 
{% endif %}
<div class="">
  {%- if section.settings.image != blank -%}
    <div class="banner__media {% if section.settings.mb_image != blank %} desktop_banner{% endif %} ">
      <img
        src="{{ section.settings.image | img_url: 'master' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
      >
    </div>
  {%- endif -%}
</div>
  {%- if section.settings.mb_image != blank -%}
    <div class="banner__media mobile_banner">
      <img
        src="{{ section.settings.mb_image | img_url: 'master' }}"
        loading="lazy"
        alt="{{ section.settings.mb_image.alt | escape }}"
      >
    </div>
  {%- endif -%}
  {% if section.settings.image_link != blank %}
    </a>
  {% endif %} 
</div>
</div>
<style>
 @media (min-width: 300px) and (max-width: 767px) {
 
 .contact_banner_section .desktop_banner {
     display: none;
 }  
 
 }
 @media (min-width: 768px){  
  .contact_banner_section .mobile_banner {
     display: none;
 }  
 }
</style>
{% schema %}
{
  "name": "Contact Banner",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "Mobile Image"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Link"                  
    }, 
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "Adapt section height to image size"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    }   
  ],
  "presets": [
    {
      "name": "Contact Banner"
    }
  ]
}
{% endschema %}